<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="task" class="entity.Task">
    </bean>

    <bean id="reader" class="service.reader.ReaderImpl">
    </bean>

    <bean id="service" class="service.Service">
        <constructor-arg name="reader" ref="reader"/>
    </bean>

</beans>
